.ipynb_checkpoints/default-1bba847a-e762-4eb6-bb5c-b79928df6fa7-checkpoint.ipynb
default-9b237a8b-d63e-4103-bb82-775265fdca39.ipynb
default-1bba847a-e762-4eb6-bb5c-b79928df6fa7.ipynb
.ipynb_checkpoints/default-9b237a8b-d63e-4103-bb82-775265fdca39-checkpoint.ipynb
gera.py
test

results/DNA_results.txt
results/DNA_results
